@model Contractors.Web.Models.CandidateListViewModel
@using Contractors.Web.Code

@{
    ViewBag.Title = "Calendar";
    var date = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
}

<h2>Calendar - @date.ToString("MMMM yyyy")</h2>

<script type="text/javascript">
    var date = new Date();

    $(document).ready(function () {
        $('#prev').click(function () {
            date = addMonths(date, -1);
            $('#cal').load('/candidates/cal?month=' + (date.getMonth()+1) + '&year=' + date.getFullYear());
            return false;
        });
        $('#next').click(function () {
            date = addMonths(date, 1);
            $('#cal').load('/candidates/cal?month=' + (date.getMonth() + 1) + '&year=' + date.getFullYear());
            return false;
        });

        $('#cal').load('/candidates/cal');
    });

    function addMonths(date, monthsToAdd) {
        var month = date.getMonth();
        var year = date.getFullYear();

        if (monthsToAdd > 0) {
            while (monthsToAdd > 12) {
                year++;
                monthsToAdd -= 12;
            }
        } else if (monthsToAdd < 0) {
            while (monthsToAdd < -12) {
                year--;
                monthsToAdd += 12;
            }
        }

        month += monthsToAdd;

        return new Date(year, month, date.getDay(), 0, 0, 0, 0);
    }


</script>

<div>
<p><a href="" id="prev">prev</a> <a href="" id="next">next</a>
</div>

<div id="cal"></div>