@model Contractors.Web.Models.CandidateListViewModel
@using Contractors.Web.Code

@{
    var date = new DateTime(Model.CalendarMonthStartDate.Year, Model.CalendarMonthStartDate.Month, 1);
}

    <div class="month-header">
        <table>
            <tbody>
                <tr>
                    <td>Monday</td>
                    <td>Tuesday</td>
                    <td>Wednesday</td>
                    <td>Thursday</td>
                    <td>Friday</td>
                    <td>Saturday</td>
                    <td>Sunday</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="month-row">
        <table>
            <tbody>
                <tr>
                    
@{
    int week=0;
}
    @for (DateTime day = Model.CalendarActualStartDate; day <= Model.CalendarActualEndDate; day=day.AddDays(1))
    {
        <td class="day @if (day.Month != Model.CalendarMonthStartDate.Month){<text>inactive</text>}">@day.Day<br />
            @{var candidates = Model.CandidatesByDay[day.ToString("dd-MM-yyyy")];}
            @if (candidates != null)
            {
                <ul>
                @foreach (var c in candidates)
                {
                    <li>@Html.ActionLink(c.FullName, "Details", new { id = c.Id.Split('/')[1], view = "tiny" }, new { id=c.Id.Split('/')[1], @class = "candidate-name" })</li>
                }
                </ul>
            }
        </td>
        
        @Html.EndWeekRow(day)
    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="clear" />
