@model Contractors.Web.Models.CandidateListViewModel
@using Contractors.Web.Code

@{
    ViewBag.Title = "Calendar";
    var date = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
}

<h2>Calendar - @date.ToString("MMMM yyyy")</h2>

<script type="text/javascript" src="/scripts/calendar.js"></script>

<div>
<p><a href="" id="prev">prev</a> <a href="" id="next">next</a>
</div>

<div id="cal"></div>