@model Contractors.Web.Models.CandidateListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Candidates</h2>

<script type="text/javascript" src="/scripts/date.format.js"></script>
<script type="text/javascript" src="/scripts/calendar.js"></script>

<div>
<p><a href="" id="prev">prev</a> <a href="" id="next">next</a>
</div>

<div id="cal"></div>
