@model Contractors.Web.Models.CandidateListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Candidates</h2>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"> 
<script type="text/javascript" src="/scripts/date.format.js"></script>
<script type="text/javascript" src="/scripts/jquery-ui-1.8.11.min.js"></script>
<script type="text/javascript" src="/scripts/calendar.js"></script>

<div>
<p><a href="" id="prev">prev</a> <a href="" id="next">next</a>
</div>

<div id="cal"></div>
