@model Contractors.Web.Models.CandidateListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Candidates</h2>

@foreach (var candidate in Model.Candidates)
{
    Html.RenderPartial("CandidateListItem", candidate);
}

