@{
    ViewBag.Title = "Advanced";
}

<h2>Advanced</h2>

<script type="text/javascript" src="/scripts/advancedsearch.js"></script>


<form id="theform">
Full Name: <input type="textbox" name="name" value="smith" /><br />
Company Name: <input type="textbox" name="company" value="toys" /><br />
Skills: <input type="textbox" name="skills" value="skill" /><br />

<input type="submit" value="Search" />
</form>

<div id="results" />