body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.candidate-list-item
{
}
.candidate-list-item img
{
float:left;
margin-right:20px;
}
.candidate-list-item .candidate-overview
{
float:left;
}

#calendar {
	margin: 0;
	padding: 0;
	width: 700px;
	border: 2px solid #333;
	background-color: #ddd; 
}

.clear { 
	clear: both; }


.month-row table tbody tr td.day {

	list-style-position: inside;
	font-weight: bold;
	height: 88px;
	border: 1px solid #999;
	background-color: #fff; 
	padding: 5px;
	overflow: hidden; 
    width:14.28%;
    vertical-align:top;}

#calendar li.Sunday {
	margin-left: 0; }
#calendar li.Monday {
	margin-left: 100px; }
#calendar li.Tuesday {
	margin-left: 200px; }
#calendar li.Wednesday {
	margin-left: 300px; }
#calendar li.Thursday {
	margin-left: 400px; }
#calendar li.Friday {
	margin-left: 500px; }
#calendar li.Saturday {
	margin-left: 600px; }

.day ul {
	margin: 0;
	padding: 0;
	clear: both; }
.day ul li {
	list-style: none;
	font-weight: normal;
	float: none;
	border: none;
	padding: 5px 0;
	margin: 0; }

td.inactive
{
    background-color:#ddd !important;
}
div.month-header table, div.month-row table
{
width:100%;
}
div.month-header table tbody tr td
{
width:14.28%;
}

/*
#preview
{
padding:6px;
border:2px solid #8888FF;
z-index:100;
position:absolute;
float:left;
background-color:#FFFFFF;
}*/